.filter-group h6{
    color: var(--dark-gray-2);

}
.filter-group ul{
    padding-left: 0;
}
.filter-group ul li{
    display:  flex;
    gap: 4px;
    align-items: center;
    margin-block: 4px;
}
.filter-group ul li input[type="checkbox"]{
    width: 22px;
    height: 22px;
    appearance: none;
    border: 1px solid var(--dark-gray-2);
    border-radius: 4px;
    position: relative;
}
.filter-group ul li input:checked{
    background-color: var(--primary);
    border: 1px solid #fff;
}
.filter-group ul li input[type="checkbox"]:checked::before {
    content: '\2713'; /* Símbolo de check */
    font-size: 16px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}