.square{
    background-color: white;
    padding: 13px;
    border: 1px solid var(--light-gray);
}
.option-wrapper{
    width: 48px;
    height: 48px;
}
.square:hover, .circle:hover{
    border: 2px solid var(--primary);
}
.square{
    font-weight: 700;
}
.circle{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}