:root {
  --primary: #C92071;
  --secondary: #B5B6F2;
  --tertiary: #991956;
  --error: #EE4266;
  --success: #52CA76;
  --warning: #F6AA1C;



  --dark-gray: #1F1F1F;
  --dark-gray-2: #474747;
  --dark-gray-3: #666666;
  --light-gray: #8F8F8F;
  --light-gray-2: #CCCCCC;
  --light-gray-3: #F5F5F5;
  --white: #FFFFFF;
}

.wrapper{
  background-color: #f9f8fe;
}
.wrapper .link{
  color: var(--primary);
  text-decoration: none;
  width: 100px;
}
.collection-section{
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
}
@media (max-width: 992px) { 
  .collection-section{
    justify-content: start;
    scrollbar-color: var(--primary) #f5f5f5; 
    overflow: auto;
    padding-block: 16px;
  }
 }